.container {
	width: 300px;
	height: 300px;
	margin: 200px auto;
	perspective: 20000px;
}

.box {
	width: 300px;
	height: 300px;
	border: 1px solid transparent;
	box-sizing: border-box;
	position: relative;
	transform-style: preserve-3d;
	/*transform:rotateX(30deg) rotateY(30deg);*/
	animation: rotate 10s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotatex(360deg) rotatey(360deg) rotatez(360deg);
	}
}

.box-page {
	width: 300px;
	height: 300px;
	position: absolute;
	box-sizing: border-box;
	transform-style: preserve-3d;
}


.top {
	transform: translateZ(150px);
}

.bottom {
	transform: translateZ(-150px) rotateX(180deg);
}

.right {
	transform: translateX(150px) rotateY(90deg);
}

.left {
	transform: translateX(-150px) rotateY(-90deg);
}

.after {
	transform: translateY(-150px) rotateX(90deg);
}

.before {
	transform: translateY(150px) rotateX(-90deg);
}

.box-page div:first-child,
.box-page div:nth-child(3),
.box-page div:nth-child(5),
.box-page div:nth-child(7),
.box-page div:nth-child(9) {
	transform: rotateY(0deg);
	animation: rotatey 6s ease-in-out infinite;
}

@keyframes rotatey {
	0% {
		transform: translateZ(0px) scale(1) rotateZ(0deg);
	}

	20% {
		transform: rotateY(0deg);
		background-size: 300px 300px;
	}

	40% {
		transform: rotateY(540deg);
		background-size: 100px 100px;
	}

	60% {
		transform: rotateY(540deg) scale(0.5);
		background-size: 100px 100px;
	}

	80% {
		transform: rotateY(0deg) scale(1);
		background-size: 300px 300px;
	}
}

.box-page div:nth-child(2),
.box-page div:nth-child(4),
.box-page div:nth-child(6),
.box-page div:nth-child(8) {
	transform: rotateX(0deg);
	animation: rotatex 6s ease-in-out infinite;
}

@keyframes rotatex {
	20% {
		transform: scale(1) rotateX(0deg);
		background-size: 300px 300px;
	}

	40% {
		/*background-image: url("img/img.jpg");*/
		transform: scale(0.5) rotateX(540deg);
		background-size: 100px 100px;
	}

	60% {
		/*background-image: url("img/img.jpg");*/
		transform: rotateX(540deg);
		background-size: 100px 100px;
	}

	80% {
		transform: rotateX(0deg);
		background-size: 300px 300px;
	}
}

/* music */
@-webkit-keyframes reverseRotataZ {
	0% {
		-webkit-transform: rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(-360deg);
	}
}

@-webkit-keyframes rotataZ {
	0% {
		-webkit-transform: rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg);
	}
}
